@font-face {
  font-family: "Inter";
  src: url("./public/fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./public/fonts/inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./public/fonts/inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./public/fonts/inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("./public/fonts/noto-kufi-arabic/NotoKufiArabic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("./public/fonts/noto-kufi-arabic/NotoKufiArabic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
